.community .sub_visual{
    background:url(../img/brand3.jpg) no-repeat center/cover; 
}
.community .inner table{
    width:100%; 
    border-bottom:2px solid #111; 
    margin-bottom:50px;
    border-collapse:collapse;  
}
.community .inner table tr:nth-of-type(even){
    background:#eee; 
}
.community .inner table tr:hover td{
    background:lightcyan; 
}
.community .inner table th{
    padding:15px; 
    background:#444; 
    color:#fff; 
}
.community .inner table th:nth-of-type(1){ width:10%; }
.community .inner table th:nth-of-type(3){ width:15%; }
.community .inner table th:nth-of-type(4){ width:15%; }

.community .inner table td{
    padding:13px; 
    border-bottom:1px solid #ddd; 
    text-align:center; 
    color:#555; 
}
.community .inner table td:nth-of-type(2){
    text-align:left; 
}
.community .inner table td:nth-of-type(2) a{
    float:left; 
    color:#333;
    font-family:"arial"; 
    line-height:1.4;  
}
.community .inner table td:nth-of-type(3){
    font-family:"맑은 고딕"; 
}

.community .inner .pagination{
    width:100%; 
    text-align:center; 
}
.community .inner .pagination::after{
    content:''; display:block; clear:both; 
}
.community .inner .pagination .prev{
    float:left; 
    display:block; 
    width:30px; 
    height:30px; 
    background:#555; 
    font-size:20px; 
    color:#eee; 
    text-align:center; 
    line-height:30px; 
}
.community .inner .pagination .next{
    float:right; 
    display:block; 
    width:30px; 
    height:30px; 
    background:#555; 
    font-size:20px; 
    color:#eee; 
    text-align:center;
    line-height:30px; 
}
.community .inner .pagination .numbers{
    display:inline-block; 
    text-align:center; 
    font-size:0; 
}
.community .inner .pagination .numbers a{
    display:inline-block; 
    width:30px; 
    height:30px; 
    border:1px solid #888; 
    font:11px/30px 'arial'; 
    color:#666; 
    text-align:center; 
    margin:0 5px; 
    transition:0.5s; 
}
.community .inner .pagination .numbers a:hover{
    background:#666; color:#fff; 
}

/* tablet -------------------------------------------------------- */
@media screen and (max-width:1179px){
    
    .community .inner table th:nth-of-type(1){ width:15%; }
    .community .inner table th:nth-of-type(3){ width:17%; }
    .community .inner table th:nth-of-type(4){ width:0%; display:none;  }
    .community .inner table td:nth-of-type(4){ width:0%; display:none;  }
 
    .community .inner .pagination .numbers a:nth-of-type(6){
        display:none; 
    }
    .community .inner .pagination .numbers a:nth-of-type(7){
        display:none; 
    }
    .community .inner .pagination .numbers a:nth-of-type(8){
        display:none; 
    }
    .community .inner .pagination .numbers a:nth-of-type(9){
        display:none; 
    }
    .community .inner .pagination .numbers a:nth-of-type(10){
        display:none; 
    }

    /* 
    .community .inner .pagination .numbers a:nth-of-type(n+6):nth-of-type(-n+10){
        display:none; 
    }
    */
 
}

/* mobile ---------------------------------------------------------- */
@media screen and (max-width:539px){
    
    .community .inner table th:nth-of-type(1){ width:0%; display:none; }
    .community .inner table td:nth-of-type(1){ width:0%; display:none; }
    .community .inner table th:nth-of-type(3){ width:27%; }
    .community .inner table td { font-size:13px; }
 
    .community .inner .pagination .numbers{
        display:none; 
    }
    
 
}