@charset 'utf-8'; 

$tablet : 1179px; 
$mobile : 539px; 


@import 'reset.scss';
@import 'sub_layout.scss'; 
@import 'community.scss'; 
@import 'about.scss'; 
@import 'join.scss'; 

@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Open+Sans:wght@300;500;700&display=swap');
//'Open Sans'

@mixin btnMore($wd:200px,$ht:60px, $fontSize:14px, $fontFamily:'Open Sans', $color:#fffffe, $alignC:center, $bg:#ffd803 ){
   display: block;
   width: $wd;
   height: $ht;
   text-align: $alignC;
   font-size: $fontSize;
   line-height: $ht;
   font-family: $fontFamily;
   color: $color;
   background: $bg;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
   cursor: pointer;
}

@mixin txtBg(){
   background: linear-gradient(to top, rgba(255, 216, 3, 0.5) 10px,transparent 10px);
   display:inline;
}


// #ffd803;

/* header -------------------------------------*/
#header{
   width:100%; 
   background: #ffd803;
   .inner{
      width:1180px; 
      height:100px; 
      margin: 0 auto;
      position:relative; 
      display: flex;
      align-items: center;
      justify-content: left;
      >h1{
         width: 20%;
         font-size: 0;
         background: #fffffe;
         margin-right: 100px;
         a{
            display: block;
            text-align: center;
            font:bold 30px/100px 'Open Sans'; 
            color:#ffd803; 
         }
      }
      .menuWeb{
         width: 70%;
         
         #gnb{
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
               a{
                  display:block; 
                  font:bold 14px/80px 'Open Sans'; 
                  color:#fffffe; 
               }
               &:hover{
                  a{
                  color:#272343;}
               }
               &.on{
                  &::after{
                     opacity: 1;
                  }
                  a{color:#272343;}
                }
            }
         }
      }
      
      .btnCall{
         display:none; 
         width:20px; 
         height:20px; 
         position:absolute; 
         right:30px; 
         top:50%; 
         transform:translateY(-50%); 
         &::before{
            content:''; 
            display:block; 
            width:100%; 
            height:2px; 
            background:#393834; 
            position:absolute; 
            top:0; 
            left:0; 
            transition:top 0.5s 0s, transform 0.5s 0.5s; 
         }
         &::after{
            content:''; 
            display:block; 
            width:100%; 
            height:2px; 
            background:#393834; 
            position:absolute; 
            bottom:0; 
            left:0; 
            transition:bottom 0.5s 0s, transform 0.5s 0.5s; 
         }
         span{
            display:block; 
            width:100%; 
            height:2px; 
            background:#393834; 
            position:absolute; 
            top:50%; 
            margin-top:-1px; 
            left:0; 
            text-indent:-9999px; 
            transition:0.5s; 
         }
         &.on{
            &::before{
               top:50%; margin-top:-1px; 
               transform:rotate(45deg); 
            }
            &::after{
               bottom:50%; margin-bottom:-1px; 
               transform:rotate(-45deg); 
            }
            span{
               transform:translateX(100%); 
               opacity:0; 
            }
         }
      }
      .menuMo{
         position:fixed; 
         top:0; 
         left:-270px; 
         width:270px;
         height:100vh;
         background:#fafafa; 
         transition:0.5s; 
         z-index:10; 
         box-shadow: 0px 3px 5px rgba(0,0,0,0.3) ;

         h1{
            padding: 25px 20px 26px 20px;
            a{
               display:block; 
               font:bold 24px/1 'Open Sans'; 
               color:#393834; 
            }
            span{
               display:block;
               font-size:12px; color:#aaa;
            }
         }
         .moMenuList{
            position: relative;
            .login{
               width: 100%;
               background: rgba(0,0,0,0.07);
               display: flex;
               align-items: center;
               border-top:1px solid #bbb; 
               padding: 25px 20px;
               >a{
                  display: block;
                  width: 50px;
                  height: 50px;
                  background: #c6aa92;
                  color: #fafafa;
                  text-align: center;
                  border-radius: 50%;
                  font: 25px/50px 'Open Sans';
                  margin-right: 20px;
               }
               .utilMo{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li{
                     display: inline-block;
                     a{
                        display:block; 
                        font: 16px/1 'Open Sans'; 
                        color:#aaa; 
                     }
                     &:nth-of-type(1){
                        position: relative;
                        width: 70px;
                        &::after{
                           content: '|';
                           display:block;
                           font: 16px/1 'Open Sans'; 
                           color:#aaa; 
                           position: absolute;
                           top: 0;
                           right: 12px;
                        }
                     } 
                  }
               }
               
            }
            #gnbMo{
            
               li {
                  &:last-child a{
                     border-bottom: 1px solid #bbb;
                  }
                  a{
                  display:block; 
                  width:100%; 
                  padding:16px 0px; 
                  border-top:1px solid #bbb; 
                  font: 14px/1 "Open Sans"; 
                  color:#aaa; 
                  text-align:center; 
                  }
                  &:hover{
                     a{
                        color:#c6aa92;
                        background: rgba(0,0,0,0.03);
                     }
                  }
               }
               
            }
            .csMo{
               display: flex;
               align-items: center;
               li{
                  &:last-child a{
                  border-right:none;
                  }
                  a{
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     justify-content: center;
                     width: 90px;
                     height: 80px;
                     font: 14px/1 "Open Sans"; 
                     color:#aaa; 
                     text-align:center; 
                     border-right: 1px solid #bbb;
                     border-bottom: 1px solid #bbb;
                     i{
                        font-size: 25px;
                        margin-bottom: 8px;
                     }
                  }
                  &:hover{
                     a{
                        color:#c6aa92;
                        background: rgba(0,0,0,0.03);
                     }
                  }
               }
            }
         }
         &.on{
            left:0px;
         }
         .follow{
            width: 270px;
            margin-top: 40px;
            h3{
               font:bold 14px/1 "Open Sans"; 
               color:#888; 
               text-align:center; 
               margin-bottom: 20px;
            }
            .snsMo{
               bottom: 0;
               display: flex;
               align-items: center;
               justify-content: space-around;
               li{
                  a{
                     display: block;
                     width: 50px;
                     height: 50px;
                     border-radius: 50%;
                     font:bold 20px/50px "Open Sans"; 
                     color:#fafafa; 
                     text-align: center;
                     background:rgba(0,0,0,0.3);;
                  }
               }
            }
         }
         
      }
   }
}

/* visual -------------------------------------------- */

#visual{
   width:100%; 
   height:calc(100vh - 100px); 
   position:relative; 
   overflow:hidden; 
   background: #ffd803;
   .imgBox{
      width: 80%;
      height: 100%;
      background: url(../img/visual1.jpg) no-repeat top/cover;
      position: absolute;
      left :0;
      z-index: 1;
      &::after{
         display: block;
         content:'' ;
         width: 100%;
         height: 100%;
         background: #fffffe;
         opacity: 0.3;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
      }
      .btns{
         position: absolute;
         display: block;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         top: 50%;
         left: 10%;
         background: #ffd803;
         box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
         text-align: center;
         color:#fffffe;
         line-height: 40px;
         cursor: pointer;
         z-index: 5;
         &.btnMinus{
            top: calc(50% - 60px);
         }
      }
   }
   .floatingBox{
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      width: 40%;
      height: 300px;
      background-color: rgba(255, 217, 3, 0.7);
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
      z-index:3;
      .btnMore{
         @include btnMore();
         position: absolute;
         bottom: -30px;
         left: 50%;
         transform: translateX(-50%);
   }
      .txtBox{
         position: absolute;
         top: 0;
         right: 0;
         width: 80%;
         height: 100%;
         background: #fffffe;
         padding: 40px 60px;
         vertical-align: middle;
         
         h1{
            font:bold 30px/1.4 'Open Sans';
            margin-bottom: 10px;
            color:#272343;
            @include txtBg();   
                     
         }
         p{
            font: 14px/1.4 'Open Sans';
            color:#ccc;
            flex-wrap: wrap;
         }
      }
      
         

   }
   .sns{
      position: absolute;
      bottom: 5%;
      right: 5%;
      ul{
         width: 120px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         li{
            a{
               color: #fffffe;
               font-size: 20px;
            }
         }
      }
      
   }

}

/* our ------------------------------------------- */
#our{
   width:100%; 
   padding:100px 0; 
   .inner{
      width:1180px; 
      margin:0 auto; 
      display:flex;
      align-items: center;
      justify-content: space-between;
      article{
         position: relative;
         width: 300px;
         text-align: center;
         padding:10px;
         transition: 1s;

         &:hover{
            box-shadow: 10px 10px 15px rgba(0,0,0,0.02);
            cursor: pointer;
            transition: 1s;
         }
         &:nth-of-type(1){
            box-shadow: none;
            text-align: left;
            padding: none;
            >p{
               font:16px/1.2 'Open Sans'; 
               color:#bfbfbf; 
               margin: 20px 0 40px;
            }
         }
         h2{
            font:bold 24px/1 'Open Sans'; 
            color:#777777;
            @include txtBg();
         }
         h3{
            font:bold 16px/1 'Open Sans'; 
            color:#777777;
         }
         > i{
            font-size: 30px;
            color: #ffd803;
            margin: 20px 0;
         }
         p{ 
            font:12px/1.4 'Open Sans'; 
            color:#bfbfbf; 
            margin: 20px 0 40px;
         }  
         .btnMore{
            @include btnMore();
            
         
         }
      }
   }   
}



/* banner -------------------------------------------*/ 
#banner{
   width:100%; 
   padding:200px 0; 
   background:url(../img/banner.jpg) no-repeat center/cover fixed; 
   background-color: #ccc;
   position: relative;
   .inner{
      width:1180px; 
      margin:0 auto; 
      text-align: center;
      h1{
         font:45px/1 'Open Sans'; 
         color: #fafafa;
         text-shadow: 3px 3px 5px #ccc;
         margin-bottom: 20px;
      }
      p{
         font:16px/1.3 'Open Sans'; 
         color:#fafafa; 
         text-align:center; 
      }
      .bannerBtn{
         display: block;
         width: 100px;
         height: 100px;
         border-radius: 50%;
         background: #c6aa92;
         color: #fafafa;
         line-height: 100px;
         font-size: 20px;
         position: absolute;
         bottom: 0;
         transform-origin:center;
         bottom:0;
         transition: 0.5s;
         z-index: 1;
         left: calc(50% - 50px);
         bottom: -50px;
         animation: bannerBtn 2s ease-in Infinite Alternate ;
         &::after{
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #c6aa92;
            position: absolute;
            top: 0;
            z-index: -1;
            transition: 0.5s;
         }
         &:hover{
            animation-play-state: paused;
            cursor:pointer;
            opacity: 0.7;
         }
      }
   }
}
@keyframes bannerBtn{
   0%{
      transform: scale(50%);
   }
   100%{
      transform: scale(100%);
   }
}
/* project ------------------------------------------*/
#project{
   width:100%; 
   background:#fff; 
   padding: 200px 0 300px 0;
   .inner{
      width:1180px; 
      margin:0 auto; 
      text-align: center;

      h1{
         font: bold 40px/1 'Railway';
         margin-bottom: 30px;
         span{
            display: block;
            margin-top: 10px;
            font: 20px/1 'Railway';
            color: #ccc;
         }
      }
      .wrap{
         width:100%; 
         display: flex;
         align-items: center;
         justify-content:space-between;
         article{
            width: 236px;
            height: 236px;
            position: relative;
            a{
               display: block;
               width: 236px;
               height: 236px;
               &:hover{
                  &::after{
                     opacity: 0.7;
                  }
               }
               &::after{
                  content: '+';
                  display: block;
                  width: 236px;
                  height: 236px;
                  background: #393834;
                  position: absolute;
                  top: 0;
                  left: 0;
                  color: #c6aa92;
                  font: 30px/236px 'Open Sans';
                  opacity: 0;
                  transition: 0.5s;
               }
               
               img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
            }
            .profile{   
               position: absolute;
               bottom: -30%;
               left: 50%;
               transform: translateX(-50%);
               text-align: center;
               img{
                  width: 50px;height: 50px;
                  border-radius: 50%;
                  box-shadow: 5px 5px 15px #777;
                  margin-bottom: 10px;
               }
               p{
                  font: bold 16px/1 'Railway';
                  color: #777;
                  margin-bottom: 3px;
               }
               span{
                  display: block;
                  font: 12px/1 'Railway';
                  color: #ccc;
               }
            }
           
         }
      }
   }
}

/* works ----------------------------------- */
#works{
   width: 100%;
   padding:150px 0; 
   background-color:#fafafa;
   .inner{
      width:1180px; 
      margin:0 auto; 
      article{
         position: relative;
         width:380px; 
         float:left; 
         margin:10px 10px 100px 0;
         padding-bottom: 40px;
         border-bottom: 1px solid #ccc;
         &:hover{
            span::after{
               width: 280px;
            }
            span i{
               transition: 0.5s;
               transform: translateX(300px) scale(1.2);
               color: #c6aa92;
            }
         }
         &:last-child{
            margin-right:0; 
         }
         &:nth-child(n+4):nth-child(-n+6){
            border-bottom: none;
            margin-bottom: 0px;
         }
         i{
            position: absolute;
            color: #c6aa92;
            font-size:30px; 

         }
         h2{
            display: flex;
            align-items: center;
            font:bold 30px/1 'Railway';
            margin-bottom: 20px;
            margin-left:40px ;
         }
         p{
            font:14px/1.6 'Railway'; 
            color:#393834; 
            margin-left: 40px;
            margin-bottom: 40px;
         }
         span{
            font:20px/1 'Railway'; 
            color:#393834; 
            margin-left:40px;
            position: relative;
            i{
               transition: 0.5s;
               cursor: pointer;
               color: #393834;
               

            }
            &::after{
               content: '';
               display: block;
               width: 0px;
               height: 2px;
               background: #c6aa92;
               transform-origin: left center;
               transition: 0.5s;
               position: absolute;
               top: 50%;
               left:0px;
               transform: translateY(2px);
            }
            
         }
      }
      &::after{
         content: '';
         display: block;
         clear: both;
      }

   }
   
}


/* news ------------------------------------------- */
#news{
   width:100%; 
   height: 600px;
   padding:100px 0; 
   background: #fff;
   .inner{
      width:1180px; 
      margin:0 auto; 
      position: relative;
      h1{
         &::after{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: rgb(214, 213, 211);
            margin: 20px 0 40px 0;
         }
      }
      >span{
         position: absolute;
         right: 0;
         top: 15px;
         
         a{
            font: normal 14px/1 'Open Sans';
            color: #c6aa92;
         }
            
      }
      article{
         position: relative;
         width:360px; 
         height: 400px;
         float:left; 
         margin-right: 40px;
         &:hover{
            .date{
               &::after{
                  content: '';
                  display: block;
                  width: 340px;
                  height: 2px;
                  background: #c6aa92;
                  margin: 10px 0 30px 0;
                  transition: 0.5s;
               }
            }
            
         }

         &:last-child{
            margin-right:0px; 
         }
         &::after{
            content: '';
            display: block;
            clear: both;
         }
         h2{
            margin-bottom:30px; 
            a{
               font:bold 30px/1 'Open Sans'; 
               color:#393834;
            }
         }
         .date{
            font: bold 16px/1 'Open Sans';
            color: #c6aa92;
            
            &::after{
               content: '';
               display: block;
               width: 20px;
               height: 2px;
               background: #c6aa92;
               margin: 10px 0 30px 0;
               transition: 0.5s;
            }
         }
         p{ 
            width: 100%;
            height: 100px;
            font:16px/1.4 'Open Sans'; 
            color:#ccc; 
            margin:20px 0 10px 0;
         }  
         .btn{
            display: block;
            width: 60px;
            height: 30px;
            background: #c6aa92;
            border-radius: 15px;
            color: #fafafa;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            &:hover{
               background-color: #ff0000;
            }
         }
         &::after{
            clear: both;
            content: '';
            display: block;
         }
      }

   }   
}

/* footer ------------------------------------*/ 
#footer{
   width:100%; 
   padding:100px 0; 
   background:#393834;
   position: relative;

   .inner{
      width:1180px; 
      margin:0 auto; 
      .footMenu{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-bottom: 50px;
         article{
            width: 30%;
            height: 100px;
            border-left: 1px solid rgb(119, 119, 119);
            padding-left:50px;
            &:nth-of-type(1){
               border-left: none;
            }
            h2{
               font:20px/1 'Open Sans'; 
               color:#c6aa92; 
               margin-bottom: 20px;
            }
            ul li,
            p{
               font:14px/1.5 'Open Sans'; 
               color:#fafafa; 
               word-break: break-all;
            }
         }
      }
      
   }

   .subscribe{
      text-align: center;
      margin-bottom:50px;
      position: relative;
      h2{
         font:20px/1 'Open Sans'; 
         color:#fafafa; 
         margin-bottom: 20px;
      }
      form{
         position: relative;
         width:450px;
         margin: 0 auto;
         input[type=email]{
            width: 450px;
            height: 50px;
            border-radius: 25px;
            padding: 20px;
            border: none;
            
         }
         button[type=submit]{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            right: 0;
            border: 0;
            background: #fafafa;
            cursor: pointer;
         }
      }
      
   }
   .copy{
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px 0;
      border-top: 1px solid #888;
      .inner{
         width: 1180px;
         margin: 0 auto;
         display: flex;
         align-items: center;
         justify-content: space-between;
         
         p{
            font:12px/1 'Open Sans'; 
            color:#fafafa; 
            width:100%; 
         }
         ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
               
               margin-right:20px; 
               a{
                  font: 14px/1 'Open Sans'; 
                  color:#fafafa; 
               }
            }
         }
      }
   }
}

/* tablet --------------------------------------------------------------------*/
@media screen and (max-width:$tablet){
   /* header -------------------------------------*/
#header{   
   .utilMenu{
      height: 10px;
      .inner{
         width: 100%;
         .util{
            display:none;
         }
         .sns{
            display:none;
         }
      }
   }  
   .inner{
      width:100%; height:80px; 
        
      >h1{ top: 0;left:20px; }

      .menuWeb{ display:none; }       

      .btnCall{ display:block; }      
   }
}

/* visual -------------------------------------------- */
#visual{
   .swiper {
      .swiper-wrapper{
         .swiper-slide{
            .inner{
               width: 100%;
               .txtBox{
                  top: 15%;
                  left: 50%;
                  transform: translateX(-50%);
                  text-align: center;
                  width: 100%;
                  p{
                     margin-bottom: 80px;
                  }
                  a{
                     margin: 0 auto;
                     width: 400px;
                     height: 40px;
                     font: 16px/40px 'Open Sans';
                  }
               }
            }
         }
      }
      .swiper-pagination{
         display: none;
      }
      .swiper-button-prev{
         bottom: 0;
         left: 0;
         width: 60px;
         height: 60px;
         color: #fafafa;
         font: 25px/60px 'Open Sans';
      }
      .swiper-button-next{
         display: block;
         position: absolute;
         bottom: 0;
         right: 0;
         width: 60px;
         height: 60px;
         color: #fafafa;
         font: 25px/60px 'Open Sans';
      }

   }

}

/* our ------------------------------------------- */
#our{
   .inner{
      width:100%; 
      margin:0 auto; 
      .wrap{
         width:80%; 
         margin: 0 auto;
         article{
            width:50%; 
            float:left; 
            margin-right: 0px;
            transition: 1s;
            &:hover{
               .btnMore{
                  &::after{
                     width: 85%;
                     left: 15%;
                  }
               }
            }
            &:nth-of-type(even){
               margin-top: 250px;
               margin-bottom: 100px;
            }
            &:last-child{
               margin-right:0px; 
            }
            h2{
               margin-bottom:20px; 
            }
            .btnMore{
               display: block;
               width: 100%;
               &::after{
                  width: 10%;
                  left: 15%;
               }
            }
         }
      }
   }   
}
/* banner -------------------------------------------*/ 
#banner{    
   padding:200px 40px; 
   .inner{ width:100%; }
}

/* project ------------------------------------------*/
#project{
   padding: 200px 0;
   .inner{
      width:100%; 
      h1{
         margin-bottom: 60px;
      }
      .wrap{
         flex-direction: column;
         article{
            width: 80%;
            margin-bottom: 100px;
            a{
               width: 100%;
               &:hover{
                  &::after{
                     font-size: 60px;
                  }
               }
               &::after{
                  width: 100%;
               }
            }
          
         }
      }
   }
}
/* works ----------------------------------- */
#works{
   width: 100%;
   padding:150px 0; 
   background-color:#fafafa;
   .inner{
      width:80%; 
      margin:0 auto; 
      article{
         width:50%; 
         margin:0 0 40px;
         span{
            position: absolute;
            right: 10%;bottom: 50px;
            i{
               transition: 0.5s;
               cursor: pointer;
               color: #393834;
            }
            &::after{
               display: none;
            }
         }
         &:hover{
            span i{
               transform:scale(1.4);
            }
         }
         &:last-child{
            margin-right:0; 
         }
         &:nth-child(n+4):nth-child(-n+6){
            border-bottom: 1px solid #ccc;
            margin-bottom: 40px;
         }
         
      }
   }
}
/* news ------------------------------------------- */
#news{
   height: auto;
   padding:100px 0; 
   .inner{
      width:80%; 
      article{
         width:100%; 
         height: 280px;
         float:none; 
         margin-right: 0px;
         transition: 0.5s;
         border-bottom: 1px solid #ccc;
         margin-bottom: 40px;
         &:hover{
            .date{
               &::after{
                  width: 15%;
               }
            }
         }
         .btn{
            position: absolute;
            right: 0;
         }
         
      }

   }   
}

/* footer ------------------------------------*/ 
#footer{
   padding: 40px 0;
   .inner{
      width:100%; 
      .footMenu{
         width: 50%;
         flex-direction: column;
         padding-bottom: 50px;
         margin: 0 auto;
         text-align: center;
         article{
            width: 100%;
            height: auto;
            border-left:none;
            padding: 80px 0;
            &:nth-of-type(2){
               border-top: 1px solid #ccc;
               border-bottom: 1px solid #ccc;
            }
         }
      }
   }

   .subscribe{
      form{
         width:50%;
         input[type=email]{
            width: 100%;
            height: 50px;
            border-radius: 25px;
            padding: 20px;
            
         }
         button[type=submit]{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            right: 1px;
            background: #fafafa;
            cursor: pointer;
         }
      }
      
   }
   .copy{
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 0;
      border-top: 1px solid #888;
      .inner{
         width: 90%;

         p{
            text-align: center;
         }
         ul{
            display: none;
         }
      }
   }
}

} //tablet end

/* mobile --------------------------------------------------------------------*/
@media screen and (max-width:$mobile){     
/* visual -------------------------------------------- */
   #visual{
      .swiper {
         .swiper-wrapper{
            .swiper-slide{
               .inner{
                  .txtBox{
                     
                     h1{
                        font: bold 40px/1 'Open Sans';
                        color: #fff;
                        margin-top: 10px;
                        margin-bottom: 40px;
                     }
                     h2{
                        font: 20px/1 'Open Sans';
                        color: #fff;
                     }
                     p{
                        font: 14px/1.4 'Open Sans';
                        width: 80%;
                        margin: 0 auto;
                        
                     }
                     a{
                        width: 100px;
                        height: 30px;
                        font: 12px/30px 'Open Sans';
                        margin-top: 60px;
                     }
                  }
               }
            }
         }   
      }
   
   }
   /* our ------------------------------------------- */
   #our{
      .inner{
         .wrap{
            article{
               width:100%; 
               &:nth-of-type(even){
                  margin-top: 80px;
                  margin-bottom: 80px;
               }
            }
         }
      }   
   }
   /* works ----------------------------------- */
   #works{
      padding:80px 0; 
      .inner{
         article{
            width:100%; 
         }
      }
   }
   /* footer ------------------------------------*/ 
   #footer{
      .inner{
         .footMenu{
            width: 80%;
            article{
               padding: 30px 0;
            }
         }
      }

      .subscribe{
         form{
            width:80%;
         }
         
      }
   }
}

/*# sourceMappingURL=style.scss.map */
